[PFSENSE]
PFSENSE_IP = 192.168.0.135
PFSENSE_USER = root
PFSENSE_PASSWORD = SOMETHING_SOMETHING_PASSWORD
REMOTE_PATH = /cf/conf/config.xml
LOCAL_PATH = config.xml

[UNIFI]
UNIFI_CONTROLLER = https://192.168.1.8
UNIFI_USERNAME = your-username
UNIFI_PASSWORD = your-password
UNIFI_LAN_NAME = default
UNIFI_CONTROLLER_IP = 192.168.1.8
UNIFI_API_KEY = SOMETHING_SOMETHING_API_KEY
UNIFI_REMOTE_PATH = /usr/lib/unifi/data/sites/default/config.gateway.json